{{> header}}

<div class="carrito">
    <h2>Lista de compras:</h2>

    {{#each carrito.products}}
    <div>
        <h4>Nombre del Producto: {{this.id.title}}</h4>
        <p>Descripcion:{{this.id.description}}</p>
        <p>Precio: ${{this.id.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
    </div>
    {{/each}}
</div>