<header>
    <!-- Sección navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Made In Heaven</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/products">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/realtimeproducts">Productos en tiempo real</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/carts">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div>
    <h1>Real time product</h1>

    <h3>Lista de productos:</h3>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Código</th>
                <th>Stock</th>
                <th>category</th>
                <th>status</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody id="productos-body">
        </tbody>
    </table>

    <h2>Agregar Producto</h2>

    <form id="producto-form">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required>

        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo" required>

        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required>

        <label for="categoria">Categoría:</label>
        <input type="text" id="categoria" name="categoria" required>

        <button type="submit">Agregar Producto</button>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

