body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dad7d7;
    color: #333;
}

header {
    background-color: #e0a4ad; 
    padding: 20px;
    text-align: center;
    color: #fff; 
}

main {
    padding: 20px;
}

details {
    margin-bottom: 20px;
}

.summary {
    font-weight: bold;
}

::marker{
    color: #e19da7;
}

.endpoint-details {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.required {
    color: #ff0000; 
}